@page "/"
@page "/index"
@inject IJSRuntime JSRuntime
@using ITPSFall2023.Entity
<div class="row">
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Global Statistics</h5>
                <h4 class="card-title">Company Stats</h4>
                <div class="dropdown">
                    <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                        <i class="now-ui-icons loader_gear"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <a class="dropdown-item text-danger" href="#">Remove Data</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="lineChartExample"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Global Statistics</h5>
                <h4 class="card-title">Company Stats</h4>
            </div>
            <div class="card-body" style="height:215px">
                <ul>
                    <li>Stat  1</li>
                    <li>Stat  2</li>
                    <li>Stat  3</li>
                    <li>Stat  4</li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Performance</h5>
                <h4 class="card-title">Company Tickets vs My Department</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    @if(PageModel!=null)
                    {
                    <RadzenChart style="height: 400px">
                        <RadzenBarSeries Data="@PageModel.MonthlyCount" CategoryProperty="MonthName" Title="Company" LineType="LineType.Dashed" ValueProperty="Count">
                            <RadzenSeriesDataLabels Visible="true" />
                        </RadzenBarSeries>
                        <RadzenBarSeries Data="@PageModel.DepartmentMonthlyCount" CategoryProperty="MonthName" Title="My Department" ValueProperty="Count">
                            <RadzenSeriesDataLabels Visible="true" />
                        </RadzenBarSeries>
                        @*                <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                        </RadzenValueAxis>*@
                        <RadzenBarOptions Radius="5" Height="20" />
                    </RadzenChart>
                    }
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-category">All Persons List</h5>
                <h4 class="card-title"> Employees Stats</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Name
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            City
                        </th>
                        <th class="text-right">
                            Salary
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Dakota Rice
                                </td>
                                <td>
                                    Niger
                                </td>
                                <td>
                                    Oud-Turnhout
                                </td>
                                <td class="text-right">
                                    $36,738
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Minerva Hooper
                                </td>
                                <td>
                                    Curaçao
                                </td>
                                <td>
                                    Sinaai-Waas
                                </td>
                                <td class="text-right">
                                    $23,789
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sage Rodriguez
                                </td>
                                <td>
                                    Netherlands
                                </td>
                                <td>
                                    Baileux
                                </td>
                                <td class="text-right">
                                    $56,142
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Doris Greene
                                </td>
                                <td>
                                    Malawi
                                </td>
                                <td>
                                    Feldkirchen in Kärnten
                                </td>
                                <td class="text-right">
                                    $63,542
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mason Porter
                                </td>
                                <td>
                                    Chile
                                </td>
                                <td>
                                    Gloucester
                                </td>
                                <td class="text-right">
                                    $78,615
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-category">Rcent Tickets</h5>
                <h4 class="card-title"> My Recent Tickets</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Ticket ID
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Assigned To
                        </th>
                        </thead>
                        <tbody>
                            @foreach(TicketEntity newTicket in PageModel.MostRecentTickets)
                            {
                                <tr>
                                    <td>
                                        <a href="#">@newTicket.TicketKey</a>
                                    </td>
                                    <td>
                                        @newTicket.ShortDescription
                                    </td>
                                    <td>
                                        @newTicket.DueDate.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        @newTicket.Status
                                    </td>
                                    <td>
                                        @newTicket.AssignedToDisplayName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@if (PageModel != null)
{
    <h3>@PageModel.PageMessage</h3>
}
@code
{
    private UserEntity CurrentUser { get; set; }
    private FrontPageDataEntity PageModel { get; set; }
    protected override void OnInitialized()
    {
        CurrentUser = new();
        CurrentUser = ITPSFall2023.Data.Code.UserFactory.GetUserInformation("joshs", "joshs");

        PageModel = ITPSFall2023.Data.Code.FrontPageFactory.GetFrontPageData(CurrentUser);
        StateHasChanged();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        { LoadCharts(); }
    }
    private async void LoadCharts()
    {
        await JSRuntime.InvokeVoidAsync("demo.initDashboardPageCharts");
    }
}